/* You can add global styles to this file, and also import other style files */
body
{
background: #10193f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0A0F22, #222d5a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #182144, #0A0F22); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}